.dropdown {
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    width: max-content;
    &_active {
        padding-bottom: 12px;
        background-color: #FFFFFF;
        .dropdown__list {
            margin-top: 4px;
            display: flex;
        }

        .dropdown__button {
            color: #604784 !important;

            &::after {
                top: 16px;
                background: url("./assets/triangle-purple.svg") center/ 100% no-repeat;
            }
        }
    }

    &__button {
        border: none !important;
        background-color: transparent;
        align-items: center;
        position: relative;
        height: 52px;
        &::after {
            content: "";
            position: absolute;
            top: 18px;
            right: 24px;
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url("./assets/triagle-white.svg") center/ 100% no-repeat;
        }
    }
    &__list {
        display: none;
        flex-direction: column;
        gap: 11px;
    }

    &__item {
        display: block;
        font-family: Rubik;
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
        text-align: center;
        color: #604784;
        font-weight: 400;

        &:hover {
            color: #604784;
        }
    }
}