@import "../../style/adaptive";

.nav-column {
    padding: 26px;
    @include adap(width, 300);
    background: linear-gradient(180deg, #5A4080 0%, #E4EBEF 100%);
    background-clip: border-box;
    box-shadow: 0px 4px 20px 0px #70707066;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 23px;

        a {
            width: 100%;
        }
    }

    &__exit {
        margin-top: auto;
        color: #ADA7C3 !important;
        background-color: white;

        &:hover {
            background-color: #e94444;
            border-color: #e94444;
            color: white !important;
        }
    }
}