.nav-column {
    padding: 26px;
    background: linear-gradient(180deg, #C4E3F4 0%, #E4F5FF 100%), #C4E3F4;
    background-clip: padding-box, border-box;
    border: 3px solid #C4C4C433;
    box-shadow: 0px 4px 20px 0px #70707066;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__exit {
        margin-top: auto;
        color: #C4E3F4 !important;
        background-color: white;

        &:hover {
            background-color: #e94444;
            border-color: #e94444;
            color: white !important;
        }
    }
}