.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 36px 64px 47px; 
    height: 100%;
    max-height: 900px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 46px 1fr;
    gap: 20px 30px;
}