@font-face {
    font-family: 'Rubik';
    src: url('../../public/fonts/Rubik-Medium.eot');
    src: url('../../public/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Rubik-Medium.woff2') format('woff2'),
        url('../../public/fonts/Rubik-Medium.woff') format('woff'),
        url('../../public/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rubik';
    src: url('../../public/fonts/Rubik-Regular.eot');
    src: url('../../public/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/Rubik-Regular.woff2') format('woff2'),
        url('../../public/fonts/Rubik-Regular.woff') format('woff'),
        url('../../public/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


