@import "./fonts";
@import "./null-style";

* {
    font-family: Rubik;
}

#root {
    height: 100%;
}

.button-style {
    padding: 12px;
    width: 220px;
    height: 52px;
    border-radius: 25px;
    border: 3px solid #FFFFFF;
    display: inline-block;
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.15s linear;

    &:hover {
        color: #FFFFFF;
    }
    &:active {
        transform: scale(0.9);
    }
}